pkgbase = linux-mainline-glassrom
	pkgver = 5.0rc5
	pkgrel = 1
	url = https://github.com/anupritaisno1/linux-hardened
	arch = x86_64
	license = GPL2
	makedepends = xmlto
	makedepends = kmod
	makedepends = inetutils
	makedepends = bc
	makedepends = libelf
	makedepends = git
	makedepends = python-sphinx
	makedepends = graphviz
	options = !strip
	source = https://glassrom.pw/20190205-stable-release.tar.xz
	source = https://glassrom.pw/20190205-stable-release.tar.xz.sig
	source = 60-linux.hook
	source = 90-linux.hook
	source = linux.preset
	validpgpkeys = 3E5C558DB22B6452F1B27925FE7F160EEB3078CF
	sha512sums = dbc149caede0a8d37a4e348a3ef0bded8c4ef21e7ce519c2b93b9f3646017dcb47048db7cd6be146c48529ee3923c2ab4c1dabf38690942edbfa9ecf00483665
	sha512sums = 47dc8e5576bad970f29021da913bce9d9a7b0f15b63fd1403d35449b80b306e268d1f7adfca0884edcc4bd0200da43b78a8e13e1cd34f6c3a06d1773b591fddf
	sha512sums = 7ad5be75ee422dda3b80edd2eb614d8a9181e2c8228cd68b3881e2fb95953bf2dea6cbe7900ce1013c9de89b2802574b7b24869fc5d7a95d3cc3112c4d27063a
	sha512sums = d6faa67f3ef40052152254ae43fee031365d0b1524aa0718b659eb75afc21a3f79ea8d62d66ea311a800109bed545bc8f79e8752319cd378eef2cbd3a09aba22
	sha512sums = 2dc6b0ba8f7dbf19d2446c5c5f1823587de89f4e28e9595937dd51a87755099656f2acec50e3e2546ea633ad1bfd1c722e0c2b91eef1d609103d8abdc0a7cbaf

pkgname = linux-mainline-glassrom
	pkgdesc = The Linux-mainline-glassrom kernel and modules
	install = linux.install
	depends = coreutils
	depends = linux-firmware
	depends = kmod
	depends = mkinitcpio
	optdepends = crda: to set the correct wireless channels of your country
	optdepends = wireguard-tools: to use WireGuard
	backup = etc/mkinitcpio.d/linux-mainline-glassrom.preset

pkgname = linux-mainline-glassrom-headers
	pkgdesc = Header files and scripts for building modules for Linux-mainline-glassrom kernel

pkgname = linux-mainline-glassrom-docs
	pkgdesc = Kernel hackers manual - HTML documentation that comes with the Linux-mainline-glassrom kernel

